@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-actualize:before {
	content: "\e000";
}
.flaticon-banknotes:before {
	content: "\e001";
}
.flaticon-blogging:before {
	content: "\e002";
}
.flaticon-books30:before {
	content: "\e003";
}
.flaticon-boy11:before {
	content: "\e004";
}
.flaticon-boy12:before {
	content: "\e005";
}
.flaticon-calendar5:before {
	content: "\e006";
}
.flaticon-certificate7:before {
	content: "\e007";
}
.flaticon-close13:before {
	content: "\e008";
}
.flaticon-computer146:before {
	content: "\e009";
}
.flaticon-custom:before {
	content: "\e00a";
}
.flaticon-desktop:before {
	content: "\e00b";
}
.flaticon-diploma2:before {
	content: "\e00c";
}
.flaticon-dollar116:before {
	content: "\e00d";
}
.flaticon-download164:before {
	content: "\e00e";
}
.flaticon-education6:before {
	content: "\e00f";
}
.flaticon-facebook55:before {
	content: "\e010";
}
.flaticon-github5:before {
	content: "\e011";
}
.flaticon-github7:before {
	content: "\e012";
}
.flaticon-google116:before {
	content: "\e013";
}
.flaticon-graduate2:before {
	content: "\e014";
}
.flaticon-graduate20:before {
	content: "\e015";
}
.flaticon-graduation10:before {
	content: "\e016";
}
.flaticon-graduation22:before {
	content: "\e017";
}
.flaticon-happy54:before {
	content: "\e018";
}
.flaticon-house28:before {
	content: "\e019";
}
.flaticon-instagram12:before {
	content: "\e01a";
}
.flaticon-mail9:before {
	content: "\e01b";
}
.flaticon-man216:before {
	content: "\e01c";
}
.flaticon-map5:before {
	content: "\e01d";
}
.flaticon-ocean3:before {
	content: "\e01e";
}
.flaticon-online2:before {
	content: "\e01f";
}
.flaticon-pc6:before {
	content: "\e020";
}
.flaticon-pen38:before {
	content: "\e021";
}
.flaticon-phone6:before {
	content: "\e022";
}
.flaticon-responsive12:before {
	content: "\e023";
}
.flaticon-responsive16:before {
	content: "\e024";
}
.flaticon-sad67:before {
	content: "\e025";
}
.flaticon-school7:before {
	content: "\e026";
}
.flaticon-setting:before {
	content: "\e027";
}
.flaticon-share11:before {
	content: "\e028";
}
.flaticon-social:before {
	content: "\e029";
}
.flaticon-teach:before {
	content: "\e02a";
}
.flaticon-teacher4:before {
	content: "\e02b";
}
.flaticon-university2:before {
	content: "\e02c";
}
.flaticon-verification5:before {
	content: "\e02d";
}
.flaticon-workplace:before {
	content: "\e02e";
}
.flaticon-world89:before {
	content: "\e02f";
}
.flaticon-writing9:before {
	content: "\e030";
}
.flaticon-youtube18:before {
	content: "\e031";
}
