/* ==========================================================================
   CSS
   ========================================================================== */
.grayscale{
    @include grayscale();
}

.profiles .thumbnail {
    min-height: 450px;
}

/*
center container with CSS
data-masonry-options='{ "columnWidth": ".item", "itemSelector": ".item", "gutter": 10 }'
data-masonry-options='{ "isFitWidth": true }'
*/
.gallery {
    /* center container with CSS */
    margin: 0 auto;
    .gallery-item {
            //padding-left: 10px!important;
            //padding-right: 10px!important;
            a {
                border-radius: 4px;
                img {
                    border-radius: 3px;
                    min-width: 100%!important;
                }
            }
    }
}


// Formulario de Login
#ModalLogin .modal-dialog {
max-width: 300px;
margin-top: 100px;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/* ==========================================================================
   Componentes
   ========================================================================== */

/*
 * Icons flaticon
 */
span[class^='flaticon-']:before,
span[class*=' flaticon-']:before,
span[class^='flaticon-']:after,
span[class*=' flaticon-']:after{
    margin-left: 0;
}

/*
 * Banner
 */
.carousel{
    margin-bottom: 0;
}
.carousel-control{
    font-size: 60px;

    width: 40px;
    height: 100px;
    margin-top: 175px;

    opacity: 1!important;
    color: #333;
    border: 0;
    background: none!important;
    text-shadow: none!important;
}
.carousel-control:hover{
    color: #69868e;
}
.carousel-control.left{
    left: -50px;
}
.carousel-control.right{
    right: -50px;
}
.carousel-indicators{
    top: auto;
    right: 50%;
    bottom: -20px;

    margin-right: -19px;
}
.carousel-indicators li{
    background: #333;
}
.carousel-indicators .active{
    background: #69868e;
}

.carousel .thumbnail{
    position: relative;

    overflow: hidden;

    margin: 0 0 30px;
    padding: 0;
}

.carousel .item{
    background: none;
    /*padding: 0 15px*/
}

.carousel a.thumbnail{
    @include zoom-img();
    .caption{
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;

        width: 100%;
        height: 100%;
        padding: 2%;

        color: #fff !important;

        @include gradient-directional( rgba(0,0,0,.50), rgba(0,0,0,0), 45deg);
        .caption-title{
            position: absolute;
            z-index: 3;
            right: 20px;
            bottom: 20px;
            left: 20px;

            width: 100%;

            text-shadow: 1px 1px 1px #000;
        }
        &.text-right{
            @include gradient-directional( rgba(0,0,0,.50), rgba(0,0,0,0), -45deg);
            .caption-title{
                padding-right: 40px;
            }
        }
    }
    &:hover .caption{
        @include gradient-directional( rgba(0,0,0,.65), rgba(0,0,0,0), 45deg);
        &.text-right{
            @include gradient-directional( rgba(0,0,0,.50), rgba(0,0,0,0), -45deg);
        }
    }
}

// Sizes
.carousel .thumbnail-big{
    height: 450px;
}

.carousel .thumbnail-small{
    height: 210px;
}
.carousel .thumbnail-small img{
    margin-top: -210px;
}
