// Mixins
// --------------------------------------------------

// https://github.com/twbs/bootstrap-sass/tree/37ea51e9ac2ea1e0f475f998f6df70fabf0996b7/assets/stylesheets/bootstrap/mixins
//https://github.com/twbs/bootstrap-sass/blob/37ea51e9ac2ea1e0f475f998f6df70fabf0996b7/assets/stylesheets/bootstrap/mixins/_vendor-prefixes.scss

@mixin grayscale(){
       -moz-filter: url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale');
         -o-filter: url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale');
    -webkit-filter: grayscale(100%);
            filter: gray;
            filter: url('data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale');
}

@mixin zoom-img(){
    img{
        @include transition(all .1s linear);
    }
    &:hover img{
        @include scale(1.15);
    }
}


a.thumbnail-opacity{
    border: none;

    @include  opacity(.4);
    @include transition(opacity .15s linear);
    &:hover.thumbnail{
        text-decoration: none;

        @include  opacity(1);
    }
}


.animation-1s {
    @include animation(1s);
}
