
/* ==========================================================================
   Global
   ========================================================================== */
html{
    background: #e3e9ea;
}

body{
    max-width: 1400px;
    margin: 0 auto;

    border: none;
}

.container{
    max-width: 960px;
}


/*
 * Header
 */
#header{
    padding: 20px 0;
    img.logo-fatecrl{
        max-height: 80px;
        margin-top: 10px;
    }
    img.logo-centropaulasouza{
        display: block;

        max-height: 50px;
        margin-top: 30px;
        margin-right: auto;
        margin-left: auto;
    }
    img.logo-governoestadosp{
        float: right;

        max-height: 100px;
    }
}


/*
 * Navbar
 */
#navbar-main{
    margin-bottom: 0;
    .navbar-brand img{
        height: 30px;
        margin-top: -3px;
        margin-left: -30px;

        @include opacity(0);
        @include transition(all .1s linear);
    }
    &.navbar-fixed-top{
        max-width: 1400px;
        margin: 0 auto;
        .navbar-brand img{
            margin-left: 20px;

            @include opacity(1);
            @include transition(all .1s linear);
        }
    }


}

.fc-dropdown-graduacao {
    .dropdown-menu {min-width: 290px;}
    .flaticon:before {font-size: 14px!important; float: left; margin-right: 10px; margin-top: -1px  }
}

/*
 * Footer
 */
#footer{
    font-size: 12px;
    margin-top: 0;
    padding: 30px 0 20px;

    text-align: left;

    color: lighten(#4d6268,20%);
    border-top: 5px solid #69868e;
    background: #283336;

    .btn-primary.show-map {
        color: #fff;
        border:1px solid #fff;
        font-size: 12px;
        margin-top: 5px;
    }

    .copyright {
        .logo-fatecrl {
            width: 130px;
            opacity: 0.8;
            padding-bottom: 5px;
            @include transition(all .1s linear);
            &:hover { opacity: 1; }
        }

        .text-left,
        .text-right {
            padding-top: 25px;
        }
    }

    hr{
        border-top:1px solid darken(#4d6268,10%);
    }

    a{
        font-size: 12px;

        color: #f5f5f5;
    }
    a.btn{
        font-size: 14px;
        color: #333;
    }

    ul {
        border-right:1px solid darken(#4d6268,10%);
        padding-right: 10px;
    }

    .list-unstyled li{
        //@include transition(0.1s);
        margin-bottom: 10px;
        a {
            padding: 2px 0px;
            width:100%;
            display: block;
        }
        &:hover{
            margin-left: -15px;
            padding-left: 11px;
            border-left: 4px solid #fff;

            a {
                text-decoration: none;
            }
        }
    }
    .fc-list-social {
        border-right: 0;
        min-height: 110px;
        margin-bottom: 0px;
        li {
            padding-left: 0;
            border-left: 0;

            overflow: hidden;
            max-height: 60px;

            @include transition(0.4s);
            &:hover{
                margin-left: 0;
                padding-left: 0;
                border-left: 0;
                max-height: 90px;
            }

            a.btn-link,
            a.btn-link:active{
                width:auto;
                font-size: 16px!important;
                margin: 5px 15px;
                color: #fff!important;
                background: transparent;
                padding: 5px 10px;

                [class^='flaticon-']:before,
                [class*=' flaticon-']:before,
                [class^='flaticon-']:after,
                [class*=' flaticon-']:after{
                    font-family: Flaticon;
                    font-size: 35px;
                    font-style: normal;
                    text-align: center;
                    color: #fff;
                }
            }
        }
    }

    .glyphicon.glyphicon-earphone,
    .glyphicon.glyphicon-map-marker {
        font-size: 32px;
        float: right;
        //color: #fff;
    }
}
