
/* ==========================================================================
   Variaveis
   ========================================================================== */

// http://colorpeek.com/#rgb(148,22,17),rgb(74,85,92)
// http://www.centropaulasouza.sp.gov.br/quem-somos/manual-de-identidade/logo/fatec/fatec_ra_baixada_santista.pdf

// Site Default
$default-name: default;
$default-color: #69868e;

// Site Fatec
$fatec-name: fatec;
$fatec-color: lighten(rgb(148,22,17), 10%); // #e05444

// Site Ads
$ads-name: ads;
$ads-color: darken(#1976D2, 5.5%); // #5ea7dc  darken(#428bca, 6.5%)

// Site Ge
$ge-name: ge;
$ge-color: darken(#5fb27b, 6.5%); // #5fb27b

// Site Gp
$gp-name: gp;
$gp-color: darken(#4cb19f, 6.5%); // #4cb19f

// Site Si
$si-name: si;
$si-color: darken(#03A9F4, 5.5%); //#e19e2f /* #FFB212 + #B58C59 */   darken(#e19e2f, 6.5%)

// Site Log
$log-name: log;
$log-color: #6e5494; // #6e5494
