
/* ==========================================================================
   Config
   ========================================================================== */
@import 'config';

/* ==========================================================================
   Page Default (page.php) + Page-Sidebar (page-sidebar.php)
   ========================================================================== */

/*
 * Header
 */
.page-template-page-php #page-header,
.page-template-page-sidebar-php #page-header{
    z-index: 0;
    text-rendering: optimizeLegibility;
    margin-top: 0;
    margin-bottom: -100px;
    padding-top: 40px;
    padding-bottom: 140px;
    border: 0;
    position: relative;
    width: 100%;
    height: 60%;
    display: block;

    /*text-shadow: 0 1px 1px #000;*/
    color: #fff;
    background: #69868e;

    &:before{
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        opacity: 1;
        background-image: none;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        opacity: 0.25;

        background-image: none;
    }
}

/*
 * Main (Sidebar + Content)
 */
.page-template-page-php #main,
.page-template-page-sidebar-php #main{
    position: relative;
    //z-index: 1;

    background: transparent;

    border: 1px solid #f5f5f5;
        background: white;
        max-width: 960px;
        margin: 0 auto;

    .btn-group-vertical{
        width: 100%;
    }
    .btn-group-vertical a{
        text-align: left;
    }

    #aside{
        padding: 20px 20px 40px;
    }
    #content{
        padding: 0 20px 40px;
    }
}

/* ==========================================================================
   Page Home (index.php)
   ========================================================================== */

.index{
    .page-header{
        border: 0;
    }
    /*
     * Noticias
     */
    #noticias{
        background: none;
    }
    #noticias article a:hover{
        text-decoration: none;
    }
    #noticias article h3{
        font-size: 16px;

        margin: 10px;

        text-align: center;
    }
    /*
     * Convenios & Colaboradores
     */
    #colaboradores{
        padding-bottom: 40px;
    }
}

    /*
     * Graduacao
     */
    .list-graduacao{
        margin-top: 30px;
        padding: 10px 0 50px;

        border-top: 1px solid #f5f5f5;
        border-bottom: 1px solid #f5f5f5;
        background-color: #fcfcfc;
        article{
            a.thumbnail{
                border: none;
                background: none;
                &:hover{
                    text-decoration: none;
                    &:hover .brasao{
                        @include scale(1.15);
                    }
                }
                .brasao{
                    display: table;

                    background: transparent;

                    @include transition(all .1s linear);
                    span{
                        display: table-cell;

                        vertical-align: middle;
                    }
                    span::before{
                        font-family: Flaticon;
                        font-size: 100px;
                        font-style: normal;
                    }
                }
                h3{
                    font-size: 15px;

                    margin: 10px 0;

                    text-align: center;
                }
            }
        }
    }


/* ==========================================================================
   Brand
   ========================================================================== */

@each $site, $color in ($default-name, $default-color),
                        ($fatec-name, $fatec-color),
                        ($ads-name, $ads-color),
                        ($ge-name, $ge-color),
                        ($gp-name, $gp-color),
                        ($si-name, $si-color),
                        ($log-name, $log-color){
    /*
     * Brand: #{$site}
     */
    .color-#{$site}{
        color: $color!important;
    }

    .bg-#{$site}{
        background: $color!important;
    }

    body.site-#{$site}{
        @include text-emphasis-variant('.text-primary', $color);
        @include bg-variant('.bg-primary', $color);


        /* NavBar */
        #navbar-main{
            border-bottom: 5px solid $color;
            .navbar-right {
                margin-right: 0;
            }
        }

        #navbar-main-secundary {
            border: 0;
            max-width: 960px;
            margin: 0 auto;
            border-bottom: 1px solid #dde4e7;
            .navbar-right {
                margin-right: 0;
            }
        }
        /* Content */
        #content{
            //color: #fff;
            //background: $color !important;
            a{
                //padding: 1px 5px;
                //color: #fff;
                //background-color: $color;
            }
            .btn-primary,
            a.btn-primary,
            button.btn-primary{
                @include button-variant($color, #fff, $color);
            }
            .label-primary {
                background: $color!important;
            }
        }
        #page-header{
            /*text-shadow: 0 1px 1px #000;*/
            //color: #fff;

            //background-color: $color !important;
            // @include gradient-horizontal($color, lighten($color,15%), $start-percent: 0%, $end-percent: 100%); // lighten darken
            @include gradient-directional($color, darken($color,5%), $deg: 45deg);
            //text-shadow: 0 1px 2px rgba(0,0,0,.6);
            .btn-default,
            a.btn-default,
            button.btn-default{
                @include button-variant(#fff, $color, #fff);
            }

            &:before{
                position: absolute;
                z-index: -1;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                content: '';
                opacity: 1;
                background-image: none;
                background-repeat: no-repeat;
                background-position: center top;
                background-size: cover;
                opacity: 0.25;
                @include grayscale();

                background-image: none;
            }
        }
        /* Banner */
        .carousel-control:hover{
            color: $color !important;
        }
        .carousel-indicators .active{
            background: $color !important;
        }
        /* Footer */
        #footer{
            border-top: 5px solid $color !important;
            h4{
                color: lighten($color,15%) !important;
                //color: #fff !important;
            }

            a{
                //color: lighten($color,15%) !important;
            }

            .btn-primary.show-map {
                color: lighten($color,15%);
                border:1px solid lighten($color,15%);
                &:hover{
                    color: #fff;
                    border:1px solid #fff;
                    background: none;
                }
            }

            .list-unstyled li{

                &:hover{
                    border-left-color: lighten($color,15%);
                }
            }

            //@include gradient-directional($color, darken($color,5%), $deg: 45deg);

            //font-size: 12px;

            //color: $color !important;
        }
        /* Sidebar */
        #aside  .btn-group-vertical .active{
            border-left: 5px solid $color !important;
            box-shadow: none;
        }
    }
}





// CLEANN CSSS

// HEADER
#content .page-header { margin-top: 25px; }
        #content figure {margin-bottom: 10px}
        #content figure.alignnone,
        #content figure.aligncenter { margin-left: 0!important; margin-right: 0!important; padding-left: 0!important; padding-right: 0!important; }
        #content figure.alignright {margin-right: 0!important; padding-right: 0!important}
        #content figure.alignleft {margin-left: 0!important; padding-left: 0!important}
        figcaption {color:#666; font-size:12px; margin-bottom:0;padding:10px 0 5px 20px;position:relative}
        figcaption:before{color:#666;content:'\2014';font-size:14px;font-style:normal; margin-right:5px;position:absolute;left:0px;top:7px}

        .list-style-roman { list-style: upper-roman; }
        .list-style-alpha { list-style: lower-alpha; }

        #banner img {min-width: 100%; min-height: 100%;}


// HOME
#noticias {
.item-noticia a {border: 1px solid transparent; border-bottom: 5px solid transparent;}
.item-noticia a:hover { text-decoration: none!important; border: 1px solid #DDD; border-bottom: 5px solid #DDD;}
.item-noticia { min-height: 200px; padding: 25px;}
.item-noticia figure { width: 100%; height: 150px; overflow: hidden; display: block; float: left; margin-bottom: 20px}
.item-noticia img { width: 100%; min-height: 150px; }
}

#graduacao article {min-height: 265px}

// FEEDBACK FAIXA
        .feedback {
  width: 0;
  height: 0;
  border-top: 100px solid #4D6269;
  border-left: 100px solid transparent;
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 999999;
}
.feedback:hover{
border-top: 100px solid #2ecc71; }
.feedback:before {
  content: "Feedback";
  color: #fff;
  font-weight: 700;
  position: fixed;
  top: 30px;
  right: 0;
  transform: rotate(45deg);
}


// EVENTOS eventos.php
#main.eventos {
.item-eventoXXXXXXXXX:hover {border: 1px solid #DDD; border-left: 5px solid #DDD; padding-left: 16px;}
.item-evento:hover a { text-decoration: none!important;}
.item-evento { margin-bottom: 30px; border: 1px solid transparent; border-bottom: 1px solid #DDD; padding: 15px; height:auto; min-height: 185px; padding-left: 20px;}
.item-evento .media-left .date-block { width: 150px; height: 150px; overflow: hidden; display: block; float: left; margin-right: 20px}
.item-evento .media-left img {min-width: 100%; }

.item-evento .date-dia {font-size: 50px; background: #ddd; text-align: center; width: 100%; padding: 10px 0; display: block;}
.item-evento .date-mes {text-align: center;width: 100%; display: block; text-transform: uppercase; font-size: 12px; margin-top: 10px;}
}

// NOTICIAS
#main.noticias {
.item-noticia:hover {border: 1px solid #DDD; border-left: 5px solid #DDD; padding-left: 16px;}
.item-noticia:hover a { text-decoration: none!important;}
.item-noticia { margin-bottom: 30px; border: 1px solid transparent; border-bottom: 1px solid #DDD; padding: 15px; height:auto; min-height: 185px; padding-left: 20px;}
.item-noticia .media-left figure { width: 150px; height: 150px; overflow: hidden; display: block; float: left; margin-right: 20px}
.item-noticia .media-left img {min-width: 100%; }
}

